[submodule "OCHamcrest"]
	path = OCHamcrest
	url = https://github.com/hamcrest/OCHamcrest.git
[submodule "OCMock"]
	path = OCMock
	url = https://github.com/erikdoe/ocmock.git
[submodule "sonarflow/INKeychainAccess"]
	path = sonarflow/INKeychainAccess
	url = https://github.com/indragiek/INKeychainAccess.git
[submodule "sonarflow/SNRLastFMEngine"]
	path = sonarflow/SNRLastFMEngine
	url = https://github.com/flyingpingu/SNRLastFMEngine.git
[submodule "cocoalibspotify"]
	path = cocoalibspotify
	url = https://github.com/spectralmind/cocoalibspotify.git
[submodule "facebook"]
	path = facebook
	url = https://github.com/spectralmind/facebook-ios-sdk.git
[submodule "sonarflow/ASIHTTPRequest"]
	path = sonarflow/ASIHTTPRequest
	url = https://github.com/spectralmind/asi-http-request.git
[submodule "sonarflow/GSTwitPicEngine"]
	path = sonarflow/GSTwitPicEngine
	url = https://github.com/spectralmind/GSTwitPicEngine.git
[submodule "sonarflow/JSONKit"]
	path = sonarflow/JSONKit
	url = https://github.com/spectralmind/JSONKit.git
