[submodule "facebook"]
	path = facebook
	url = gitrepos@dev.spectralmind.com:sonarflow/3rd_party/facebook-iOS-SDK.git
[submodule "sonarflow/ASIHTTPRequest"]
	path = sonarflow/ASIHTTPRequest
	url = gitrepos@dev.spectralmind.com:sonarflow/3rd_party/ASIHTTPRequest.git
[submodule "sonarflow/GSTwitPicEngine"]
	path = sonarflow/GSTwitPicEngine
	url = gitrepos@dev.spectralmind.com:sonarflow/3rd_party/GSTwitPicEngine.git
[submodule "sonarflow/OARequestHeader"]
	path = sonarflow/OARequestHeader
	url = gitrepos@dev.spectralmind.com:sonarflow/3rd_party/OARequestHeader.git
[submodule "sonarflow/OAuthConsumer"]
	path = sonarflow/OAuthConsumer
	url = gitrepos@dev.spectralmind.com:sonarflow/3rd_party/OAuthConsumer.git
[submodule "sonarflow/yajl"]
	path = sonarflow/yajl
	url = gitrepos@dev.spectralmind.com:sonarflow/3rd_party/yajl.git
[submodule "OCMock"]
	path = OCMock
	url = gitrepos@dev.spectralmind.com:sonarflow/3rd_party/OCMock.git
[submodule "bubbleview"]
	path = bubbleview
	url = gitrepos@dev.spectralmind.com:sonarflow/bubbleview.git
[submodule "sonarflow/admob_ios_sdk"]
	path = sonarflow/admob_ios_sdk
	url = gitrepos@dev.spectralmind.com:sonarflow/3rd_party/admob_ios_sdk.git
[submodule "smartist"]
	path = smartist
	url = gitrepos@dev.spectralmind.com:sonarflow/smartist.git
[submodule "OCHamcrest"]
	path = OCHamcrest
	url = gitrepos@dev.spectralmind.com:sonarflow/3rd_party/OCHamcrest.git
[submodule "cocoalibspotify"]
	path = cocoalibspotify
	url = gitrepos@dev.spectralmind.com:sonarflow/3rdparty/cocoalibspotify.git
[submodule "sonarflow/JSONKit"]
	path = sonarflow/JSONKit
	url = gitrepos@dev.spectralmind.com:sonarflow/3rdparty/JSONKit.git
[submodule "sonarflow/INKeychainAccess"]
	path = sonarflow/INKeychainAccess
	url = gitrepos@dev.spectralmind.com:sonarflow/3rdparty/INKeychainAccess.git
[submodule "sonarflow/SNRLastFMEngine"]
	path = sonarflow/SNRLastFMEngine
	url = gitrepos@dev.spectralmind.com:sonarflow/3rdparty/SNRLastFMEngine.git
