<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bubbles</key>
	<dict>
		<key>size_to_show_title</key>
		<integer>49</integer>
		<key>size_to_show_children</key>
		<integer>300</integer>
		<key>size_to_show_children_iphone_factor</key>
		<real>0.7</real>
		<key>fade_size</key>
		<integer>25</integer>
		<key>children_radius_factor</key>
		<real>0.55</real>
		<key>max_bubble_radius</key>
		<integer>260</integer>
		<key>max_text_length</key>
		<integer>30</integer>
		<key>font_size</key>
		<integer>12</integer>
		<key>cover_size</key>
		<integer>50</integer>
		<key>enable_count_display</key>
		<true/>
	</dict>
	<key>background</key>
	<dict>
		<key>cover_alpha</key>
		<real>0.15</real>
	</dict>
	<key>track_cell</key>
	<dict>
		<key>nowPlayingLeftPadding</key>
		<integer>2</integer>
		<key>nowPlayingRightPadding</key>
		<integer>2</integer>
		<key>nowPlayingWidth</key>
		<integer>22</integer>
		<key>outerPadding</key>
		<integer>10</integer>
		<key>trackDurationWidth</key>
		<integer>50</integer>
		<key>trackNumberRightPadding</key>
		<integer>10</integer>
		<key>trackNumberWidth</key>
		<integer>25</integer>
	</dict>
	<key>animation</key>
	<dict>
		<key>duration</key>
		<real>0.25</real>
	</dict>
	<key>social</key>
	<dict>
		<key>tradedoubler-programID</key>
		<string>24380</string>
		<key>tradedoubler-websiteID</key>
		<string>2024849</string>
		<key>echonest-api-key</key>
		<string>YV4GJANNDGN3MWBQG</string>
		<key>lastfm-api-key</key>
		<string>fce4ee314339e5192fe28938e4795b9b</string>
		<key>lastfm-api-secret</key>
		<string>07df7f0c4730b2548b56e0da9e74ea57</string>
	</dict>
</dict>
</plist>
