<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Bubbles</string>
			<key>File</key>
			<string>Bubbles</string>
		</dict>
		<!--dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Animation duration</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>animation.duration</string>
			<key>DefaultValue</key>
			<real>0.25</real>
			<key>MinimumValue</key>
			<real>0.01</real>
			<key>MaximumValue</key>
			<integer>1</integer>
		</dict-->
		<dict>
			<key>Title</key>
			<string>Background Cover Alpha</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.15</real>
			<key>Key</key>
			<string>background.cover_alpha</string>
			<key>MaximumValue</key>
			<real>1</real>
			<key>MinimumValue</key>
			<real>0</real>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Reset Settings to Defaults</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<false/>
			<key>Key</key>
			<string>reset</string>
			<key>Title</key>
			<string>Reset on Next Start</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Media Library</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>othercleanup</string>
			<key>Title</key>
			<string>Try to resolve unknown Genres using Last.fm</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
